.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container > div {
    width: 600px;
    padding: 40px !important;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 15px;
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 30px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 30px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 30px -3px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 5px;
}

.formLabel {
    margin-right: 10px;
}

.formInput {
    padding: 5px;
    font-size: 15px;
}

.btn-login {
    font-size: 15px;
}
